* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f8f4f0;
  line-height: 1.6;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
/* Header e Navegação */
header {
  background-color: #9b8ab2;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  height: 99px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}
nav {
  display: flex;  
  justify-content: space-between;
  align-items: center;
  padding: auto;
  
}

.logo {
  display: flex;
  width: 130px;
  height: 110px;
  object-fit: cover;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  gap: 30px;
}

.nav-links a {
  border-radius: 5px;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}
.nav-links a:hover {
  color: #D4AF37;
  
}

